---
layout: none
---
<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>실험체 통계</title>
  <link rel="stylesheet" href="style.css" />
</head>
<body>
  <header>
    {% include nav.html %}
    <h1>실험체 통계</h1>
  </header>

  <main>
    <div class="dropdowns">
      <select id="version-select"></select>
      <select id="period-select"></select>
      <select id="tier-select"></select>
      <label>
        <input type="checkbox" id="gradient-checkbox"> 색상 강조
      </label>
    </div>

    <section>
      <div id="data-container"></div>
    </section>
  </main>

  {% include footer.html %}

  <script src="script_common.js"></script>
  <script src="script_statistics.js"></script>
</body>
</html>
