---
layout: none
---
<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>그래프</title>
  <link rel="stylesheet" href="/style.css">
  <link rel="icon" type="image/png" href="/favicon/favicon-96x96.png" sizes="96x96" />
  <link rel="icon" type="image/svg+xml" href="/favicon/favicon.svg" />
  <link rel="shortcut icon" href="/favicon/favicon.ico" />
  <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png" />
  <link rel="manifest" href="/favicon/site.webmanifest" />
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-annotation"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/1.4.1/html2canvas.min.js"></script>
</head>
<body>
  <header>
    {% include nav.html %}
    <h1>그래프</h1>
  </header>

  <main>
    <div class="dropdowns">
      <select id="version-select"></select>
      <select id="tier-select"></select>
      <select id="period-select"></select>
      <label><input type="checkbox" id="filter-low-pickrate"> 낮은 픽률 제외</label>
      <label><input type="checkbox" id="filter-high-pickrate"> 높은 픽률 제외</label>
    </div>

    <div style="margin-bottom: 10px;">
      <button class="graph-tab" data-type="pick-rp">픽률 / RP 획득</button>
      <button class="graph-tab" data-type="pick-win">픽률 / 승률</button>
      <button class="graph-tab" data-type="rp-win">RP 획득 / 승률</button>
    </div>

    <canvas id="graph-canvas" width="1000" height="800"></canvas>

    <div id="image-popup" class="image-popup">
      <span class="image-popup-close">&times;</span>
      <img class="image-popup-content" id="popup-image" alt="그래프 이미지">
    </div>
    
    <br><button id="popup-graph-button">그래프 이미지 팝업</button>
  </main>

  {% include footer.html %}

  <script src="/script_common.js"></script>
  <script src="script_graph.js"></script>
</body>
</html>
